.tablet-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    min-height: 75vh;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.tablet-project-img h3 {
    font-size: 1.5rem;
}

.tablet-project-img {
    margin: .5rem;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.tablet-project-img img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    border: solid 1px lightgray;
}

