.mobile-contact-me-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0 2rem 0;
}

.mobile-contact-me-section-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%
}

.mobile-contact-me-section-text-container h2 {
    font-size: 1.5rem;
    color: #ffffff;

}

.mobile-contact-me-section-text-container p {
    font-size: 1rem;
    color: #ffffff;
    margin: .3rem;

}

.mobile-contact-me-section-text-container a {
    color: #ffffff;
    background-color: #0b8457;
    width: 50%;
    align-self: center;
    border-radius: 1rem;
    padding: .25rem 0 .25rem 0;
    margin-top: 1rem;
}

.mobile-contact-me-section-form-container {
    width: 90%;
}

.mobile-contact-me-section-form-container div {
    color: #0b8457;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;

}

.mobile-contact-me-section-form-container form{
    display: flex;
    flex-direction: column;

}

.mobile-contact-me-section-form-container form label{
    font-size: 1rem;
    color: #ffffff;
}


.mobile-contact-me-section-form-container form input{
    border-radius: .5rem;
    margin: .8rem 0 .8rem 0;
    padding: .5rem 0 .5rem 0;
    border: none;
    outline-width: 0;
    font-size: 1rem;
    padding-left: .5rem;
}

.mobile-contact-me-section-form-container form input:nth-child(6){
    padding-bottom: 5rem;
}

.mobile-contact-me-section-form-container button{
    font-size: 1rem;
    color: #ffffff;
    background-color: #0b8457;
    border-radius: 2rem;
    border: none;
    padding: .5rem;
    margin-top: .5rem;
    width: 30%;
    align-self: flex-end;
}

