.mobile-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    min-height: 50vh;
}

.mobile-hero-heading {
    width: 99%;
}

.mobile-hero-heading h1 {
    color: #fff;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.mobile-hero-icons-container {
    border: solid 1px rgba(140, 140, 140, 1);
    background-color: rgba(140, 140, 140, .1);
    border-radius: 5px;
    width: 85%;
}

.mobile-hero-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.mobile-hero-icons img {
    height: 3rem;
    opacity: 1;
}

.mobile-hero-icons img:hover {
    animation:spin 1.5s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.mobile-hero-icons-label-container div {
    padding-bottom: 3rem;
    margin-left: 1rem;
}

.mobile-hero-icons-label-container div a {
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.mobile-hero-icons-label-container div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.mobile-hero-icons-label-container div:nth-child(1) {
    margin-left: 1rem;
}

.mobile-hero-icons-label-container div:nth-child(2) {
    margin-left: 2rem;
}

.mobile-hero-icons-label-container {
    display: flex;
    justify-content: space-around;

}

.mobile-hero-bottom-arrow-container {
    padding-top: 5rem;
    -webkit-animation: bounce 1s infinite alternate;
}

.mobile-hero-bottom-arrow-container img {
    height: 1.5rem;
}

@keyframes bounce {
from {
    transform: translateY(0px);
}
to {
    transform: translateY(-3rem);
}
}

@-webkit-keyframes bounce {
from {
    transform: translateY(0px);
}
to {
    transform: translateY(-3rem);
}
}