.home-container {
    display: flex;
    flex-direction: column;
}

.hero-section-container {
    background-color: #283149;
}

.about-section-container {
    background-color: #024249;
}

.portfolio-section-container {
    background-color: #283149;
}

.hire-me-section-container {
    background-color: #024249;
}

