.computer-container {
    display: flex;
    justify-content: space-between;
    background-color: #0b8457;
    border-bottom: solid 1px #dee1ec;
}

.computer-left-size {
    display: flex;
}

.computer-logo img{
    width: 35%;
    padding: 1rem;
}

.computer-right-size {
    display: flex;
}

.computer-nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-Link {
    align-self: center;
    padding: 1rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
}

.nav-link-selected {
    border-bottom: solid 1.5px #fff;
}

.nav-Link:hover {
    color: #10316b;
    border-bottom: solid 1.5px #10316b;
}
