.computer-screen-footer-container {
    display: flex;
    flex-direction: column;
    background-color: #2b2b28;
    color: #ffffff;
}

.computer-screen-sub-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid .5px #ffffff;
    padding: 1.5rem 0 1.5rem 0;
}

.computer-screen-contact-info span {
    font-weight: 700;
    margin-right: .5rem;
}

.computer-screen-contact-info h2, .computer-screen-site-map h2 {
    font-size: 1rem;
    text-decoration: underline;
}

.computer-screen-site-map {
    display: flex;
    flex-direction: column;
}

.computer-screen-site-map .computer-screen-site-map-link{
    color: #ffffff;
    padding: .1rem 0 .1rem 0
}

.computer-screen-site-map .computer-screen-site-map-link:hover {
    text-decoration: underline;
}

.computer-screen-footer {
    border-top: solid 1px #ffffff;
    display: flex;
    justify-content: center;
}

.computer-screen-footer p {
    padding: .5rem 0 .5rem 0;
    margin-left: 2rem;
}