.computer-screen-project-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
}

.computer-screen-project-page-title h1 {
    text-align: center;
    padding: 1rem 0 1rem 0;
    font-size: 2.5rem;
}

.computer-screen-project-page-main-img iframe {
    margin-bottom: 1.5rem;
    width:  100vw;
    height: 45vw; /* 90*9/16 */
    margin-left: 5vw;
    margin-right: 5vw;
}

.computer-screen-project-page-list {
    align-self: flex-start;
}

.computer-screen-project-page-list h3{
    padding: 1rem 0 1rem 0;
}

.computer-screen-project-page-des {
    display: flex;
    flex-direction: column;
    align-self: start;
}
.computer-screen-project-page-back-end-list ul, .computer-screen-project-page-front-end-list ul, .computer-screen-project-page-des p{
    font-size: 1.2rem;
}


.computer-screen-project-page-link-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #0c0c0c;
    padding-bottom: 1rem;
}

.computer-screen-project-page-link-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.computer-screen-project-page-link-item i {
    align-self: center;
}

.computer-screen-project-page-link-item img, .computer-screen-project-page-link-item a {
    margin: .5rem 0 .5rem 0;
    font-size: 1.2rem;
}

.computer-screen-project-page-sample-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer-screen-project-page-sample-imgs h2 {
    padding: 2rem 0 2rem 0;
    align-self: start;
}

.computer-screen-project-page-project-pictures img {
    width: 100%;
    height: 100%;
    align-self: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
} 